.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-fixed {
  background-attachment: fixed;
}

.font-serif {
  font-family: $font-serif-family;
}

.bg-white {
  background-color: $white;
}

.bg-light-gray {
  background-color: $light-gray;
}

.bg-medium-gray {
  background-color: $medium-gray;
}

.dark-gray {
  color: $dark-gray;
}
