#header {
  background-image: url(assets/bg-header.jpg);
  > div {
    color: $white;
    z-index: 1;
  }
  &:before {
    content: '';
    @extend .display-block;
    @extend .position-absolute;
    @extend .width-100;
    @extend .height-100;
    top: 0;
    left: 0;
    background-color: rgba(35,80,93,0.6);
  }
  @extend .bg-cover;
  @extend .position-relative;
  @include breakpoint(large up) {
    height: rem-calc(330);
    h1 {
      font-size: rem-calc(52);
      margin-bottom: rem-calc(30);
    }
    p {
      font-size: rem-calc(28);
    }
  }
  @include breakpoint(medium down) {
    padding: rem-calc(30);
    h1 {
      margin-bottom: rem-calc(16);
    }
  }
}