#search-box {
  [data-icon] {
    @include vertical-center;
    right: rem-calc(16);
    color: $dark-gray;
  }
}

.search-filters {
  h5 {
    font-size: rem-calc(14);
    @extend .margin-bottom-1;
  }
  p {
    font-size: rem-calc(12);
    margin-bottom: 0;
    margin-top: rem-calc(10);
  }
}
