.fund-line {
  border-left: 5px solid #bcebfb;
  cursor: pointer;
  @extend .padding-top-1;
  @extend .padding-bottom-1;

  &:hover, &.active {
    background-color: $light-blue;
  }

  p, span {
    line-height: 1;
  }
  p {
    font-size: rem-calc(13);
    @extend .margin-bottom-0;
  }
  span {
    font-size: rem-calc(11);
    color: $medium-gray;
  }
}

.fund-info {
  display: none;
  &.show {
    display: block;
  }
}

.reply-btn {
  color: #60aabf;
  opacity: 0.7;
  transition: opacity .3s linear;
  &:hover {
    opacity: 1;
  }
}
